<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.allinone.apart.prototype.mapper.StudyRoomMapper">
    <select id="roomlist" resultType="com.allinone.apart.prototype.vo.StudyRoomVO">
        select * from reservation_studyRoom
    </select>
    <insert id="roominsert" parameterType="com.allinone.apart.prototype.vo.StudyRoomVO">
        insert into reservation_studyRoom( date, time, seatNum)
        values(  #{date}, #{time}, #{seatNum} )
    </insert>
    <delete id="deleteReservation" parameterType="int">
        delete from reservation_studyRoom where rno=#{rno}
    </delete>
    <select id="reservationByRno" resultType="com.allinone.apart.prototype.vo.StudyRoomVO">
        select * from reservation_studyRoom where rno=#{rno}
    </select>
    <update id="updateReservation" parameterType="com.allinone.apart.prototype.vo.StudyRoomVO">
        update  reservation_studyRoom
        set seatNum=#{seatNum} ,time=#{time},
        date=#{date}
        where rno=#{rno}
    </update>

</mapper>