<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.allinone.apart.prototype.mapper.ApartMapper">

    <select id="list" resultType="com.allinone.apart.prototype.vo.ApartVO">
        select * from householder
    </select>

    <insert id="insert" parameterType="com.allinone.apart.prototype.vo.ApartVO">
        insert into householder(   mid ,
                                password ,
                                name ,
                                carnumber ,
                                residentNumber,
                                dong ,
                                ho ,
                                phonenumber )
            values(#{mid}, #{password},#{name},#{carnumber},#{residentNumber},#{dong} ,  #{ho} ,  #{phonenumber} )
    </insert>

    <update id="update" parameterType="com.allinone.apart.prototype.vo.ApartVO">
        update householder
        set password = #{password},
        name = #{name},
        set carnumber = #{carnumber},
        residentNumber = #{residentNumber},
        set dong = #{dong},
        set ho = #{ho},
        set phonenumber = #{phonenumber}
        where mid = #{mid}

    </update>

<!--    <select id="checkMid" parameterType="String" resultType="com.allinone.apart.prototype.vo.ApartVO">
        select * from householder where mid = #{mid}
    </select>-->
</mapper>