<html>

<head>
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="" />
    <link rel="stylesheet" as="style" onload="this.rel='stylesheet'"
        href="https://fonts.googleapis.com/css2?display=swap&amp;family=Manrope%3Awght%40400%3B500%3B700%3B800&amp;family=Noto+Sans%3Awght%40400%3B500%3B700%3B900" />

    <title>Galileo Design</title>
    <link rel="icon" type="image/x-icon" href="data:image/x-icon;base64," />

    <script src="https://cdn.tailwindcss.com?plugins=forms,container-queries"></script>
</head>

<body>
    <div class="relative flex size-full min-h-screen flex-col bg-white justify-between group/design-root overflow-x-hidden"
        style='font-family: Manrope, "Noto Sans", sans-serif;'>
        <div>
            <div class="flex items-center bg-white p-4 pb-2 justify-between">
                <h2
                    class="text-[#111418] text-lg font-bold leading-tight tracking-[-0.015em] flex-1 text-center pl-12 pr-12">
                    Page 1</h2>
            </div>
            <h2 class="text-[#111418] text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5">Section 1
            </h2>
            <div class="grid grid-cols-[repeat(auto-fit,minmax(158px,1fr))] gap-3 p-4">
                <div class="flex flex-1 gap-3 rounded-lg border border-[#dce0e5] bg-white p-4 flex-col">
                    <div class="text-[#111418]" data-icon="AppleLogo" data-size="24px" data-weight="regular">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor"
                            viewBox="0 0 256 256">
                            <path
                                d="M223.3,169.59a8.07,8.07,0,0,0-2.8-3.4C203.53,154.53,200,134.64,200,120c0-17.67,13.47-33.06,21.5-40.67a8,8,0,0,0,0-11.62C208.82,55.74,187.82,48,168,48a72.2,72.2,0,0,0-40,12.13,71.56,71.56,0,0,0-90.71,9.09A74.63,74.63,0,0,0,16,123.4a127.06,127.06,0,0,0,40.14,89.73A39.8,39.8,0,0,0,83.59,224h87.68a39.84,39.84,0,0,0,29.12-12.57,125,125,0,0,0,17.82-24.6C225.23,174,224.33,172,223.3,169.59Zm-34.63,30.94a23.76,23.76,0,0,1-17.4,7.47H83.59a23.82,23.82,0,0,1-16.44-6.51A111.14,111.14,0,0,1,32,123,58.5,58.5,0,0,1,48.65,80.47,54.81,54.81,0,0,1,88,64h.78A55.45,55.45,0,0,1,123,76.28a8,8,0,0,0,10,0A55.44,55.44,0,0,1,168,64a70.64,70.64,0,0,1,36,10.35c-13,14.52-20,30.47-20,45.65,0,23.77,7.64,42.73,22.18,55.3A105.82,105.82,0,0,1,188.67,200.53ZM128.23,30A40,40,0,0,1,167,0h1a8,8,0,0,1,0,16h-1a24,24,0,0,0-23.24,18,8,8,0,1,1-15.5-4Z">
                            </path>
                        </svg>
                    </div>
                    <div class="flex flex-col gap-1">
                        <h2 class="text-[#111418] text-base font-bold leading-tight">Title 1</h2>
                        <p class="text-[#637588] text-sm font-normal leading-normal">Subtext</p>
                    </div>
                </div>
                <div class="flex flex-1 gap-3 rounded-lg border border-[#dce0e5] bg-white p-4 flex-col">
                    <div class="text-[#111418]" data-icon="GoogleLogo" data-size="24px" data-weight="regular">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor"
                            viewBox="0 0 256 256">
                            <path
                                d="M224,128a96,96,0,1,1-21.95-61.09,8,8,0,1,1-12.33,10.18A80,80,0,1,0,207.6,136H128a8,8,0,0,1,0-16h88A8,8,0,0,1,224,128Z">
                            </path>
                        </svg>
                    </div>
                    <div class="flex flex-col gap-1">
                        <h2 class="text-[#111418] text-base font-bold leading-tight">Title 2</h2>
                        <p class="text-[#637588] text-sm font-normal leading-normal">Subtext</p>
                    </div>
                </div>
                <div class="flex flex-1 gap-3 rounded-lg border border-[#dce0e5] bg-white p-4 flex-col">
                    <div class="text-[#111418]" data-icon="FacebookLogo" data-size="24px" data-weight="regular">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor"
                            viewBox="0 0 256 256">
                            <path
                                d="M128,24A104,104,0,1,0,232,128,104.11,104.11,0,0,0,128,24Zm8,191.63V152h24a8,8,0,0,0,0-16H136V112a16,16,0,0,1,16-16h16a8,8,0,0,0,0-16H152a32,32,0,0,0-32,32v24H96a8,8,0,0,0,0,16h24v63.63a88,88,0,1,1,16,0Z">
                            </path>
                        </svg>
                    </div>
                    <h2 class="text-[#111418] text-base font-bold leading-tight">Title 3</h2>
                </div>
                <div class="flex flex-1 gap-3 rounded-lg border border-[#dce0e5] bg-white p-4 flex-col">
                    <div class="text-[#111418]" data-icon="TwitterLogo" data-size="24px" data-weight="regular">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor"
                            viewBox="0 0 256 256">
                            <path
                                d="M247.39,68.94A8,8,0,0,0,240,64H209.57A48.66,48.66,0,0,0,168.1,40a46.91,46.91,0,0,0-33.75,13.7A47.9,47.9,0,0,0,120,88v6.09C79.74,83.47,46.81,50.72,46.46,50.37a8,8,0,0,0-13.65,4.92c-4.31,47.79,9.57,79.77,22,98.18a110.93,110.93,0,0,0,21.88,24.2c-15.23,17.53-39.21,26.74-39.47,26.84a8,8,0,0,0-3.85,11.93c.75,1.12,3.75,5.05,11.08,8.72C53.51,229.7,65.48,232,80,232c70.67,0,129.72-54.42,135.75-124.44l29.91-29.9A8,8,0,0,0,247.39,68.94Zm-45,29.41a8,8,0,0,0-2.32,5.14C196,166.58,143.28,216,80,216c-10.56,0-18-1.4-23.22-3.08,11.51-6.25,27.56-17,37.88-32.48A8,8,0,0,0,92,169.08c-.47-.27-43.91-26.34-44-96,16,13,45.25,33.17,78.67,38.79A8,8,0,0,0,136,104V88a32,32,0,0,1,9.6-22.92A30.94,30.94,0,0,1,167.9,56c12.66.16,24.49,7.88,29.44,19.21A8,8,0,0,0,204.67,80h16Z">
                            </path>
                        </svg>
                    </div>
                    <h2 class="text-[#111418] text-base font-bold leading-tight">Title 4</h2>
                </div>
            </div>
            <h2 class="text-[#111418] text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5">Section 2
            </h2>
            <div
                class="flex overflow-y-auto [-ms-scrollbar-style:none] [scrollbar-width:none] [&amp;::-webkit-scrollbar]:hidden">
                <div class="flex items-stretch p-4 gap-3">
                    <div class="flex h-full flex-1 flex-col gap-4 rounded-lg min-w-60">
                        <div class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-xl flex flex-col"
                            style='background-image: url("https://cdn.usegalileo.ai/stability/72597f98-c46c-4693-a5aa-f63f088e1c4e.png");'>
                        </div>
                        <div>
                            <p class="text-[#111418] text-base font-medium leading-normal">Dog</p>
                            <p class="text-[#637588] text-sm font-normal leading-normal">$100</p>
                        </div>
                    </div>
                    <div class="flex h-full flex-1 flex-col gap-4 rounded-lg min-w-60">
                        <div class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-xl flex flex-col"
                            style='background-image: url("https://cdn.usegalileo.ai/stability/992254ff-f641-43fa-a5f6-6c7c66b564bc.png");'>
                        </div>
                        <div>
                            <p class="text-[#111418] text-base font-medium leading-normal">Dog Food</p>
                            <p class="text-[#637588] text-sm font-normal leading-normal">$200</p>
                        </div>
                    </div>
                    <div class="flex h-full flex-1 flex-col gap-4 rounded-lg min-w-60">
                        <div class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-xl flex flex-col"
                            style='background-image: url("https://cdn.usegalileo.ai/stability/78771531-c04c-450c-8ab4-c5a999ba90be.png");'>
                        </div>
                        <div>
                            <p class="text-[#111418] text-base font-medium leading-normal">Dog</p>
                            <p class="text-[#637588] text-sm font-normal leading-normal">$300</p>
                        </div>
                    </div>
                    <div class="flex h-full flex-1 flex-col gap-4 rounded-lg min-w-60">
                        <div class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-xl flex flex-col"
                            style='background-image: url("https://cdn.usegalileo.ai/stability/4e38f5e2-4fbb-4838-b02a-1c1bdb159664.png");'>
                        </div>
                        <div>
                            <p class="text-[#111418] text-base font-medium leading-normal">Cat</p>
                            <p class="text-[#637588] text-sm font-normal leading-normal">$400</p>
                        </div>
                    </div>
                    <div class="flex h-full flex-1 flex-col gap-4 rounded-lg min-w-60">
                        <div class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-xl flex flex-col"
                            style='background-image: url("https://cdn.usegalileo.ai/stability/981949a5-6494-44df-842d-6d437bd75966.png");'>
                        </div>
                        <div>
                            <p class="text-[#111418] text-base font-medium leading-normal">Cat Food</p>
                            <p class="text-[#637588] text-sm font-normal leading-normal">$500</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="flex gap-2 border-t border-[#f0f2f4] bg-white px-4 pb-3 pt-2">
                <a class="just flex flex-1 flex-col items-center justify-end gap-1 rounded-full text-[#111418]"
                    href="#">
                    <div class="text-[#111418] flex h-8 items-center justify-center" data-icon="House" data-size="24px"
                        data-weight="fill">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor"
                            viewBox="0 0 256 256">
                            <path
                                d="M224,115.55V208a16,16,0,0,1-16,16H168a16,16,0,0,1-16-16V168a8,8,0,0,0-8-8H112a8,8,0,0,0-8,8v40a16,16,0,0,1-16,16H48a16,16,0,0,1-16-16V115.55a16,16,0,0,1,5.17-11.78l80-75.48.11-.11a16,16,0,0,1,21.53,0,1.14,1.14,0,0,0,.11.11l80,75.48A16,16,0,0,1,224,115.55Z">
                            </path>
                        </svg>
                    </div>
                    <p class="text-[#111418] text-xs font-medium leading-normal tracking-[0.015em]">Home</p>
                </a>
                <a class="just flex flex-1 flex-col items-center justify-end gap-1 text-[#637588]" href="#">
                    <div class="text-[#637588] flex h-8 items-center justify-center" data-icon="User" data-size="24px"
                        data-weight="regular">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor"
                            viewBox="0 0 256 256">
                            <path
                                d="M230.92,212c-15.23-26.33-38.7-45.21-66.09-54.16a72,72,0,1,0-73.66,0C63.78,166.78,40.31,185.66,25.08,212a8,8,0,1,0,13.85,8c18.84-32.56,52.14-52,89.07-52s70.23,19.44,89.07,52a8,8,0,1,0,13.85-8ZM72,96a56,56,0,1,1,56,56A56.06,56.06,0,0,1,72,96Z">
                            </path>
                        </svg>
                    </div>
                    <p class="text-[#637588] text-xs font-medium leading-normal tracking-[0.015em]">Profile</p>
                </a>
                <a class="just flex flex-1 flex-col items-center justify-end gap-1 text-[#637588]" href="#">
                    <div class="text-[#637588] flex h-8 items-center justify-center" data-icon="ChatTeardropText"
                        data-size="24px" data-weight="regular">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor"
                            viewBox="0 0 256 256">
                            <path
                                d="M168,112a8,8,0,0,1-8,8H96a8,8,0,0,1,0-16h64A8,8,0,0,1,168,112Zm-8,24H96a8,8,0,0,0,0,16h64a8,8,0,0,0,0-16Zm72-12A100.11,100.11,0,0,1,132,224H47.67A15.69,15.69,0,0,1,32,208.33V124a100,100,0,0,1,200,0Zm-16,0a84,84,0,0,0-168,0v84h84A84.09,84.09,0,0,0,216,124Z">
                            </path>
                        </svg>
                    </div>
                    <p class="text-[#637588] text-xs font-medium leading-normal tracking-[0.015em]">Message</p>
                </a>
                <a class="just flex flex-1 flex-col items-center justify-end gap-1 text-[#637588]" href="#">
                    <div class="text-[#637588] flex h-8 items-center justify-center" data-icon="SlidersHorizontal"
                        data-size="24px" data-weight="regular">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor"
                            viewBox="0 0 256 256">
                            <path
                                d="M40,88H73a32,32,0,0,0,62,0h81a8,8,0,0,0,0-16H135a32,32,0,0,0-62,0H40a8,8,0,0,0,0,16Zm64-24A16,16,0,1,1,88,80,16,16,0,0,1,104,64ZM216,168H199a32,32,0,0,0-62,0H40a8,8,0,0,0,0,16h97a32,32,0,0,0,62,0h17a8,8,0,0,0,0-16Zm-48,24a16,16,0,1,1,16-16A16,16,0,0,1,168,192Z">
                            </path>
                        </svg>
                    </div>
                    <p class="text-[#637588] text-xs font-medium leading-normal tracking-[0.015em]">More</p>
                </a>
            </div>
            <div class="h-5 bg-white"></div>
        </div>
    </div>
</body>

</html>